<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href='/'>Home</a> |
        <a href='/about'>About</a> |
        <a href="{% url  'posts:list' %}">Posts</a> |
        <a href="{% url 'users:register' %}">Register</a> |
        <a href="{% url 'users:login' %}">Login</a>
        <form class='logout' action="{% url 'users:logout' %}" method='POST'>
            {% csrf_token %}
            <button class="logout_button" aria-label="User Logout">Logout</button>
        </form>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>