.dashboard-container {
    display: flex;
    padding: 20px;
    gap: 8px;
}

.product-card-container {
    text-align: center;
    height: 400px;
    width: 300px;
    background-color: gray;
}

.product-image {
    border: 2px solid black;
    height: 50%;
    width: 100%;
    object-position: 0 0;
    object-fit: cover;
}